<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Annotatable iframe test</title>
    <style>
      body {
        font-family: sans-serif;
      }
      iframe {
        width: 100vw;
        max-width: 1200px;
        height: 100vh;
        resize: both;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <h1>Annotatable iframe test</h1>

    <p>
      The iframe below has an `enable-annotation` attribute. The client detects
      and injects the annotator into the iframe, which makes the iframe content
      annotatable.
    </p>

    <iframe enable-annotation src="/pdf-source/gatsby/gatsby.html"></iframe>
    {{{hypothesisScript}}}
  </body>
</html>
